/* Root Scope Variables  */

:root {
    --dark-color: black;
    --light-color: #fff;
    --secondary-color: rgb(206, 61, 61);
    --primary-font: 'Oswald', sans-serif;
}


/* Core Styling  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}


/* Utility Classes  */

.logo {
    color: var(--secondary-color);
}

.container {
    width: 900px;
    margin: auto;
    padding: 3.5rem;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(247, 247, 247, 1) 100%);
    box-shadow: 0px 0px 3px 3px var(--dark-color);
    z-index: 1;
    position: relative;
}

#particles-js {
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0.2;
    left: 0;
}


/* Nav Styling  */

.navbar {
    width: 90vw;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar h1 {
    margin-left: 1rem;
    font-size: 2.5rem;
}

.links {
    margin-left: auto;
}

.btn-signin {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 1rem;
    transition: all 0.3s ease-in-out;
    border: none;
}

.btn-signin:hover {
    background-color: var(--secondary-color);
    border-radius: 15px;
    cursor: pointer;
}


/* Form Styling  */

h1 {
    text-align: center;
    margin: 1rem 0;
}

.container label {
    display: block;
    text-align: center;
}

input {
    width: 100%;
    display: block;
    padding: 0.5rem;
    margin: 0.8rem 0;
}

.register-submit {
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 20px;
    font-family: var(--primary-font);
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
    border-radius: 15px;
    transition: all 0.3s ease-in;
}

.register-submit:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
    cursor: pointer;
}